*{
    margin: 0%;
    padding: 0%;
}

.nav {
    background-color:black;
    color: white;
    height: 50px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content:space-between
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content:space-around;
    color: aliceblue;
    list-style: none;
    margin-right: 5%;
    gap: 50px;
    

}

button {
    box-shadow: 10px 5px 5px rgb(0, 140, 255);

}

a {
    color: aliceblue;
}